body {
    font-family: "Montserrat", sans-serif;
    margin: 0;
    background-color: #000;
    color: #fff;
    overflow: hidden;
    /*nothing to scroll(overflow letters or containts are hidden) */
}

.main {
    display: flex;
    height: 100vh;
    padding: 0.5rem;
}

.sidebar {
    background-color: #000;
    width: 353px;
    border-radius: 1rem;
    /*16px which is the root font size*/
    margin-right: 0.5rem;
}

.main_containt {
    background-color: #121212;
    /*all remaining place is covered*/
    flex: 1;
    border-radius: 1rem;
    /*scroll(overflow letters or containts are shown on scrolling) */
    overflow: scroll;
    padding: 0 1.5rem 0 1.5rem;
}

.music_player {
    background-color: black;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 72px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

a {
    text-decoration: none;
    margin-left: 1rem;
    color: #fff;
}

.nav {
    background-color: #121212;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100px;
    padding: 0.5rem 0.75rem;
}

.nav_option {
    line-height: 2.5rem;
    opacity: 0.7;
    margin: 0.5rem 0.75rem;
}

.nav_option:hover {
    opacity: 1;
}

.nav_option i {
    font-size: 1.25rem;
}

.nav_option a {
    font-size: 1rem;
}

.library {
    background-color: #121212;
    border-radius: 1rem;
    height: 100%;
    margin-top: 0.5rem;
    padding: 0.5rem 0.75rem;
}

.option {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 0.75rem;
}

.lib_option img {
    height: 1.25rem;
    width: 1.25rem;
}

.icon {
    font-size: 1.25rem;
    display: flex;
}

.icon i {
    opacity: 0.7;
    margin-right: 1rem;
}

.icon i:hover {
    opacity: 1;
}

.box {
    background-color: #232323;
    height: 8rem;
    border-radius: 0.75rem;
    margin: 0.75rem 0 1.75rem 0;
    padding: 0.75rem 1rem;

}

.p1 {
    font-size: 1rem;
    font-weight: 700;
}

.p2 {
    font-size: 0.85rem;
    opacity: 0.8;

}

.badge {
    background-color: #fff;
    border: none;
    border-radius: 100px;
    padding: 0.25rem 1rem;
    font-weight: 700;
    margin-top: 0.5rem;
    height: 2rem;
    width: fit-content;
}

.nav_stiky {
    position: sticky;
    top: 0;
    background-color: #121212;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0 1rem 0;
    z-index: 10;
}

.stiky_nav_icon {
    margin-left: 1rem;
}

.stiky_nav_option {
    display: flex;
    align-items: center;
    justify-content: center;

}

.nav_icon {
    margin-right: 1rem;
}

.dark_badge {
    background-color: #000;
    color: #fff;
}

@media(max-width:1000px) {
    .Premium {
        display: none;
    }

    .forword {
        display: none;
    }
}

.card {
    background-color: #232323;
    border-radius: 0.5rem;
    width: 150px;
    padding: 1rem;
    margin-left: 1.5rem;
    margin-top: 1rem;
}

.card_image {
    border-radius: 0.5rem;
    width: 100%;
}

.card_container {
    display: flex;
    flex-wrap: wrap;
}

.card_title {
    font-size: 1rem;
    font-weight: 700;
}

.card_info {
    font-size: 0.85rem;
    opacity: 0.8;
}

.footer {
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.line {
    height: 50%;
    width: 90%;
    border-top: 1px solid #fff;
    opacity: 0.2;
}

.album {
    width: 25%;
    display: flex;
    align-items: center;
}

.player {
    width: 50%;
}

.control {
    width: 25%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.control i {
    opacity: 0.8;
}

.control i:hover {
    opacity: 1;
}

.player-control {
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0;

}

.progress-bar {
    height: 27px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.progress-bar input {
    width: 30rem;
    height: 0.4rem;
    appearance: none;
    background-color: transparent;
    cursor: pointer;
}

.progress-bar input::-webkit-slider-thumb {
    appearance: none;
    height: 0.8rem;
    width: 0.8rem;
    background-color: #1bd760;
    border-radius: 50%;
    margin-top: -5px;
}

.progress-bar input::-webkit-slider-runnable-track {
    background-color: #ddd;
    border-radius: 100px;
    height: 0.3rem;
}

.player-control img {
    height: 1rem;
    padding: 0.7rem 1rem 0 1rem;
    opacity: 0.8;
}

.player-control img:hover {
    opacity: 1;
}

.player-control>.player-control-icon3 {
    opacity: 1;
    height: 2rem;
}

.player-control>.player-control-icon3:hover {
    transform: scale(1.1);
}

.playing-music-para {
    line-height: 0.1rem;
    margin: 1rem;
}

.pyaing-title {
    font-size: 0.85rem;
    font-weight: 700;
}

.pyaing-info {
    font-size: 0.7rem;
    opacity: 0.8;
    font-weight: 500;
}

.playing-music {
    margin-left: 1.5rem;
}

.playing-music-icon i {
    margin-left: 1rem;
    opacity: 0.8;
}

.playing-music-icon i:hover {
    opacity: 1;
}

.control-volum input {
    height: 0.4rem;
    width: 70%;
    appearance: none;
    cursor: pointer;
    background-color: transparent;
}

.control-volum input::-webkit-slider-thumb {
    appearance: none;
    height: 0.8rem;
    width: 0.8rem;
    background-color: #1bd760;
    border-radius: 50%;
    margin-top: -4px;
}

.control-volum input::-webkit-slider-runnable-track {
    background-color: #ddd;
    border-radius: 100px;
    height: 0.3rem;
}

@media (max-width: 1024px) {
    .playing-music-para {
        line-height: 0.01rem;
        margin: 0.5rem;
    }

    .playing-music {
        margin-left: 1rem;
    }


    .control {
        width: 30%;
    }

    .album {
        width: 30%;
    }

    .player {
        width: 30%;
    }

    .playing-music-icon i {
        margin-left: 0.1rem;

    }
}

/* Tablet */
@media (max-width: 768px) {
    .sidebar {
        display: none;
    }

    .control {
        display: none;
    }

    .album {
        width: 40%;
    }

    .player {
        width: 60%;
    }

    .progress-bar input {
        width: 70%;
        height: 0.4rem;
        appearance: none;
        background-color: transparent;
        cursor: pointer;
    }
}

/* Mobile */
@media (max-width: 480px) {
    .album {
        display: none;
        /* hide left album info */
    }

    .control {
        display: none;
        /* hide right controls */
    }

    .player {
        width: 100%;
    }

    .progress-bar input {
        width: 90%;
    }
}